USE [master]
GO
/****** Object:  Database [Shop]    Script Date: 2020/8/24 下午 5:30:47 ******/
CREATE DATABASE [Shop] ON  PRIMARY 
( NAME = N'Shop', FILENAME = N'D:\SQLServer2017Media\MSSQL14.MSSQLSERVER\MSSQL\DATA\Shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shop_log', FILENAME = N'D:\SQLServer2017Media\MSSQL14.MSSQLSERVER\MSSQL\DATA\Shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shop]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Role] [int] NULL,
	[CreateTime] [datetime] NULL,
	[LastLogin] [datetime] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainOrder]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainOrder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NULL,
	[OrderNum] [varchar](50) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[OrderStatus] [varchar](50) NULL,
	[ExpressNum] [varchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_MainOrder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AvatarUrl] [varchar](500) NULL,
	[Country] [varchar](50) NULL,
	[Province] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Gender] [char](1) NULL,
	[NickName] [nvarchar](50) NULL,
	[OpenId] [varchar](200) NULL,
	[Phone] [varchar](50) NULL,
 CONSTRAINT [PK_Member_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Number]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Number](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NULL,
	[CurrentNumber] [int] NULL,
 CONSTRAINT [PK_Number] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductTitle] [nvarchar](1000) NULL,
	[ProductBrandID] [int] NULL,
	[ProductMainImg] [varchar](3000) NULL,
	[ProductSlideImgs] [varchar](3000) NULL,
	[ProductDetail] [nvarchar](max) NULL,
	[ProductSku] [varchar](3000) NULL,
	[Price] [decimal](18, 2) NULL,
	[Stock] [int] NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[ProductCategoryID] [int] NULL,
	[ProductCategoryPath] [varchar](100) NULL,
	[ProductSkuValues] [varchar](5000) NULL,
	[KeyWords] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttr]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttr](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductAttrs] [varchar](2000) NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK_ProductAttr] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttrKey]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttrKey](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AttrName] [nvarchar](50) NULL,
	[ProductCategoryID] [int] NULL,
	[IsSku] [int] NULL,
	[EnterType] [int] NULL,
	[OrderNum] [int] NULL,
	[IsImg] [int] NULL,
 CONSTRAINT [PK_ProductAttrKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttrValue]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttrValue](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AttrValue] [nvarchar](50) NULL,
	[ProductAttrKeyID] [int] NULL,
 CONSTRAINT [PK_ProductAttrValue] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductBrand]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductBrand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](50) NULL,
	[BrandInitials] [nvarchar](50) NULL,
	[BrandLogo] [nvarchar](500) NULL,
	[BrandImg] [nvarchar](500) NULL,
	[BrandStory] [nvarchar](500) NULL,
	[OrderNum] [int] NULL,
	[IsDisplay] [int] NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_ProductBrand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Img] [nvarchar](300) NULL,
	[PID] [int] NULL,
	[OrderNum] [int] NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[KeyWords] [nvarchar](200) NULL,
	[Path] [nvarchar](20) NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSku]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSku](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductSku] [varchar](1000) NULL,
	[Price] [decimal](18, 2) NULL,
	[Stock] [int] NULL,
	[ProductID] [int] NULL,
	[SkuNum] [varchar](50) NULL,
 CONSTRAINT [PK_ProductSku] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSkuImg]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSkuImg](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SkuImg] [varchar](2000) NULL,
	[ProductID] [int] NULL,
	[SkuName] [nvarchar](50) NULL,
	[SkuValue] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProductSkuImg] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubOrder]    Script Date: 2020/8/24 下午 5:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubOrder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL,
	[ProductID] [int] NULL,
	[Count] [int] NULL,
	[ProductPrice] [decimal](18, 2) NULL,
	[SkuID] [int] NULL,
	[SkuInfo] [nvarchar](100) NULL,
 CONSTRAINT [PK_SubOrder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [Name], [Password], [Role], [CreateTime], [LastLogin]) VALUES (1, N'admin', N'f371415ac33e5cf029591fb31986081f', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([ID], [AvatarUrl], [Country], [Province], [City], [Gender], [NickName], [OpenId], [Phone]) VALUES (1, N'https://wx.qlogo.cn/mmopen/vi_32/hSL23v71mIKBLaHIDg0DFUY3YmoPNKwg8e97icaRlOHKcYesMWJuar16CDBic4dibI4oia6b7Nqic4ENzD4bmRmnA9A/132', N'Iceland', N'', N'', N'1', N'青阳', N'olsFp5Kvgz7ZkKczMiau70ZkZTq4', NULL)
SET IDENTITY_INSERT [dbo].[Member] OFF
SET IDENTITY_INSERT [dbo].[Number] ON 

INSERT [dbo].[Number] ([ID], [Type], [CurrentNumber]) VALUES (1, 1, 76)
SET IDENTITY_INSERT [dbo].[Number] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductAttr] ON 

INSERT [dbo].[ProductAttr] ([ID], [ProductAttrs], [ProductID]) VALUES (25, N'{"AttrName":"袖型","AttrValue":"常规袖"}', 26)
INSERT [dbo].[ProductAttr] ([ID], [ProductAttrs], [ProductID]) VALUES (26, N'{"AttrName":"领型","AttrValue":"圆领"}', 26)
INSERT [dbo].[ProductAttr] ([ID], [ProductAttrs], [ProductID]) VALUES (27, N'{"AttrName":"裙长","AttrValue":"中长裙"}', 26)
SET IDENTITY_INSERT [dbo].[ProductAttr] OFF
SET IDENTITY_INSERT [dbo].[ProductAttrKey] ON 

INSERT [dbo].[ProductAttrKey] ([ID], [AttrName], [ProductCategoryID], [IsSku], [EnterType], [OrderNum], [IsImg]) VALUES (1, N'袖型', 85, 0, 1, 1, 0)
INSERT [dbo].[ProductAttrKey] ([ID], [AttrName], [ProductCategoryID], [IsSku], [EnterType], [OrderNum], [IsImg]) VALUES (2, N'领型', 85, 0, 1, 2, 0)
INSERT [dbo].[ProductAttrKey] ([ID], [AttrName], [ProductCategoryID], [IsSku], [EnterType], [OrderNum], [IsImg]) VALUES (3, N'裙长', 85, 0, 1, 3, 0)
SET IDENTITY_INSERT [dbo].[ProductAttrKey] OFF
SET IDENTITY_INSERT [dbo].[ProductAttrValue] ON 

INSERT [dbo].[ProductAttrValue] ([ID], [AttrValue], [ProductAttrKeyID]) VALUES (1, N'S', 5)
INSERT [dbo].[ProductAttrValue] ([ID], [AttrValue], [ProductAttrKeyID]) VALUES (2, N'M', 5)
INSERT [dbo].[ProductAttrValue] ([ID], [AttrValue], [ProductAttrKeyID]) VALUES (3, N'L', 5)
SET IDENTITY_INSERT [dbo].[ProductAttrValue] OFF
SET IDENTITY_INSERT [dbo].[ProductBrand] ON 

SET IDENTITY_INSERT [dbo].[ProductBrand] OFF
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ID], [Name], [Img], [PID], [OrderNum], [CreateTime], [UpdateTime], [KeyWords], [Path]) VALUES (1, N'大家电', N'{"Url":"http://localhost:50069/Upload/Product/CategoryImg/c9315ad7c1614f2fada0d749712b603c62347.jpg","CloudUrl":"http://shop.statics.hklvia.top//Upload/Product/CategoryImg/c9315ad7c1614f2fada0d749712b603c62347.jpg"}', 0, 1, CAST(N'2020-07-08T15:58:17.423' AS DateTime), NULL, N'大家电', N'1')
INSERT [dbo].[ProductCategory] ([ID], [Name], [Img], [PID], [OrderNum], [CreateTime], [UpdateTime], [KeyWords], [Path]) VALUES (2, N'电视', N'{"Url":"http://localhost:50069/Upload/Product/CategoryImg/c9315ad7c1614f2fada0d749712b603c62347.jpg","CloudUrl":"http://shop.statics.hklvia.top//Upload/Product/CategoryImg/c9315ad7c1614f2fada0d749712b603c62347.jpg"}', 1, 1, CAST(N'2020-07-08T15:59:50.443' AS DateTime), NULL, N'电视', N'1,2')
INSERT [dbo].[ProductCategory] ([ID], [Name], [Img], [PID], [OrderNum], [CreateTime], [UpdateTime], [KeyWords], [Path]) VALUES (3, N'曲面电视', N'{"Url":"http://localhost:50069/Upload/Product/CategoryImg/c9315ad7c1614f2fada0d749712b603c62347.jpg","CloudUrl":"http://shop.statics.hklvia.top//Upload/Product/CategoryImg/c9315ad7c1614f2fada0d749712b603c62347.jpg"}', 2, 1, CAST(N'2020-07-08T16:00:58.610' AS DateTime), NULL, N'曲面电视', N'1,2,3')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
SET IDENTITY_INSERT [dbo].[ProductSku] ON 

INSERT [dbo].[ProductSku] ([ID], [ProductSku], [Price], [Stock], [ProductID], [SkuNum]) VALUES (40, N'[{"name":"尺码","value":"S"},{"name":"厚度","value":"薄款"}]', CAST(128.00 AS Decimal(18, 2)), 1999, 26, N'sku001')
INSERT [dbo].[ProductSku] ([ID], [ProductSku], [Price], [Stock], [ProductID], [SkuNum]) VALUES (41, N'[{"name":"尺码","value":"M"},{"name":"厚度","value":"薄款"}]', CAST(128.00 AS Decimal(18, 2)), 1999, 26, N'sku002')
INSERT [dbo].[ProductSku] ([ID], [ProductSku], [Price], [Stock], [ProductID], [SkuNum]) VALUES (42, N'[{"name":"尺码","value":"XXL"},{"name":"厚度","value":"薄款"}]', CAST(128.00 AS Decimal(18, 2)), 1999, 26, N'sku003')
SET IDENTITY_INSERT [dbo].[ProductSku] OFF
SET IDENTITY_INSERT [dbo].[ProductSkuImg] ON 

INSERT [dbo].[ProductSkuImg] ([ID], [SkuImg], [ProductID], [SkuName], [SkuValue]) VALUES (10, N'{"Url":"http://localhost:50069/Upload/Product/ProductSkuImg/d01fc90f42174603bcaf5ac416a36f7d75073.jpg","CloudUrl":"http://shop.statics.hklvia.top//Upload/Product/ProductSkuImg/d01fc90f42174603bcaf5ac416a36f7d75073.jpg"}', 28, N'颜色', N'白')
INSERT [dbo].[ProductSkuImg] ([ID], [SkuImg], [ProductID], [SkuName], [SkuValue]) VALUES (11, N'{"Url":"http://localhost:50069/Upload/Product/ProductSkuImg/2803cf28f58e404b821a00f75f655d4d7580.jpg","CloudUrl":"http://shop.statics.hklvia.top//Upload/Product/ProductSkuImg/2803cf28f58e404b821a00f75f655d4d7580.jpg"}', 28, N'颜色', N'黑')
INSERT [dbo].[ProductSkuImg] ([ID], [SkuImg], [ProductID], [SkuName], [SkuValue]) VALUES (12, N'{"Url":"http://localhost:50069/Upload/Product/ProductSkuImg/b97a1c4a16f74bf198b1a42f8650637364837.jpeg","CloudUrl":"http://shop.statics.hklvia.top//Upload/Product/ProductSkuImg/b97a1c4a16f74bf198b1a42f8650637364837.jpeg"}', 28, N'颜色', N'蓝')
SET IDENTITY_INSERT [dbo].[ProductSkuImg] OFF
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [DF_Admin_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[MainOrder] ADD  CONSTRAINT [DF_MainOrder_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  CONSTRAINT [DF_ProductCategory_CreatTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1为商品订单编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Number', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0表示普通属性，1表示规格（Sku）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProductAttrKey', @level2type=N'COLUMN',@level2name=N'IsSku'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1表示手动录入，2表示下拉选择' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProductAttrKey', @level2type=N'COLUMN',@level2name=N'EnterType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1为是0为否' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProductBrand', @level2type=N'COLUMN',@level2name=N'IsDisplay'
GO
USE [master]
GO
